<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.uts_akb_10118402">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.UTS_AKB_10118402">
        <activity android:name=".main.notes.SaveKategoriActivity"></activity>
        <activity android:name=".main.notes.UpdateNoteActivity" />
        <activity android:name=".main.notes.NotesActivity" />
        <activity android:name=".main.notes.ListNoteActivity" />
        <activity android:name=".main.information.InformationActivity" />
        <activity android:name=".main.profile.ProfileActivity" />
        <activity android:name=".main.notes.KategoriActivity"/>
        <activity android:name=".slide_screen.SlideActivity" />
        <activity android:name=".main.menu.MenuActivity" />
        <activity android:name=".splash_screen.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".main.MainActivity" />
    </application>

</manifest>